#container{
  display: grid;
  grid-template-areas: "header"
}
body{
  font: Comic Sans MS;
}
header{
  grid-area: header;
  background-color: turquoise;
  height: 30vh;
}

h1{
  text-align: center;
}
